body{
	margin: 0;
	padding: 0;
	background-color: #000000;
  text-align:center;
}

#wrapper{
  max-width:1280px;
  margin:0 auto;
}

#container{
}

#footer{
  margin-top:8px;
  text-align:right;
}

canvas{
  max-width:100%;
}

